#grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template:
    "nav" auto
    "header" auto
    "section" 100vh
    "footer" auto
}
.App {
  text-align: center;
}
nav {
  background-color: purple;  
}
header {
  background-color: yellow;
}
section {
  display: flex;

  background-color: gray;
  main {
    background-color: red;
    width: 75%;
  }
  aside{
    background-color: blue;
    width: 25%
  }
}
footer {
  background-color: green;
}